<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <style>
        .bg-white-email {
            background-color: white;
            text-align: center;
            width: 100%;
        }

        .email-cover {
            margin: 20px;
        }

        .forgot-pass-text {
            color: #332626;
            font-size: 45px;
            font-weight: 700;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .icon-2{
            padding: 10px 0px 20px 0px;
        }

        .desc-text {
            color: #332626;
            font-size: 18;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .tr-btn {
            margin-bottom: 20px;
        }

        .btn-reset{
            background-color: #007E75;
            color: #FFFFFF;
            font-size: 19;
            font-weight: 700;
            width: 232px;
            height: 57px;
            border-radius: 5px;
            border: solid;
            border-color: #007E75;
            display: inline-block;
            font-family: 'Source Sans Pro', sans-serif;
            vertical-align: middle;
            line-height: 60px;
        }


        a:link {
            text-decoration: none;
            color: #fff;
        }

        .question-text {
            color: #332626;
            font-size: 13px;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 0px 0px 50px 0px;
        }

        .info-text {
            color: #332626;
            font-size: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 0px 0px 50px 0px;
        }

    </style>
</head>
<body>
    <table class="bg-white-email email-cover">
        <tr>
            <td><img src="`cid:logo`"></td>
        </tr>
        <tr><td class="forgot-pass-text">Forgot your password?</td></tr>
        <tr>
            <td class="icon-2"><img src="`cid:people`"></td>
        </tr>
        <tr><td class="desc-text">That's okay. You can create your new password here</td></tr>
        <tr>
            <td class="tr-btn">
                <a href="{{LINK}}" class="btn-reset" style="color: #ffffff; text-decoration: none; margin : 30px 0px 50px 0px;">RESET PASSWORD</a>
            </td>
        </tr>
        <tr><td class="question-text">Question? Visit Lokasi support<br/>
                If you didn't request to reset your password,<br/>
                please ignore this email</td></td>
        <tr><td class="info-text">Please do not reply this email<br />
                PT BHUMI VARTA TECHNOLOGY<br/>
                Business Loft 3, No. 19 Jl. BSD Boulevard Utara<br/>
                Lengkong Kulon, Pagedangan, Tangerang Selatan, Banten<br/>
                <br/> <br/> <br/>
                view our Privacy Policy</td></tr>
    </table>
</body>
</html>
